@font-face {
  font-family: calculatorOutput;
  src: url(./fonts/orbitronFont.woff2);
}

* {
    box-sizing: border-box;
}



/* - WEBPAGE TITLE/AUTHOR - */

body {
    display: flex;
    flex-direction: column;
    
    align-items: center;
    gap: 50px;
}

.titleBanner {
    display: flex;
    flex-direction: column;

    width: 1000px;

    align-items: center;
    gap: 10px;
    padding: 20px;

    background-color: antiquewhite;

    border: 5px outset antiquewhite;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.titleBanner > .title {
    font-size: 32px;
}

.titleBanner > .author {
    font-size: 24px;
}

.titleBanner > .desc {
    font-size: 18px;
}



/* - CALCULATOR BACKGROUND COSMETICS - */

.calculatorModule {
    display: flex;

    background-color: gainsboro;
    border: 15px outset #ababab;
    border-radius: 20px;

    width: 500px;
    height: 800px;
}

.calculatorFrame {
    display: flex;
    flex-direction: column;

    padding: 30px;
}



/* - OUTPUT SCREEN - */

.calculatorFrame > .outputScreen {
    display: flex;
    flex-direction: column;

    justify-content: right;
    align-items: end;

    height: 160px;
    border: 15px inset;
    padding: 20px;
    gap: 24px;

    background-color: azure;

    font-family: calculatorOutput;
    font-size: 18px;
}

.calculatorFrame > .outputScreen > .outputText {
    font-size: 32px;
}

/* - BUTTONS - */

button {
    font-size: 24px;
    font-weight: 700;

    border: 5px outset;
}

.calculatorFrame > .controlButtons {
    display: flex;
    flex-direction: column;

    margin: 10px;
}



/* - INPUT KEYPAD - */


.calculatorFrame > .controlButtons > .moduleOne {
    display: flex;
    flex-direction: row;

    justify-content: space-between;

    gap: 50px;
    margin-top: 50px;
}

.calculatorFrame > .controlButtons > .moduleOne > .inputButtons {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.calculatorFrame > .controlButtons > .moduleOne > .inputButtons > .buttonRow {
    display: flex;
    flex-direction: row;

    justify-content: center;
    gap: 20px;
}

.calculatorFrame > .controlButtons > .moduleOne > .inputButtons > .lastRow {
    display: flex;
    flex-direction: row;

    justify-content: right;
}

.calculatorFrame > .controlButtons > .moduleOne > .inputButtons button {
    width: 60px;
    height: 60px;
}



/* - OPERATIONS KEYPAD - */

.calculatorFrame > .controlButtons > .moduleOne > .operationsButtons {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.calculatorFrame > .controlButtons > .moduleOne > .operationsButtons > button {
    width: 120px;
    height: 60px;

    font-size: 32px;
}



/* - UTILITIES KEYPAD - */

.calculatorFrame > .controlButtons > .moduleTwo {
    display: flex;
    flex-direction: row;

    justify-content: center;

    margin-top: 50px;
}

.calculatorFrame > .controlButtons > .moduleTwo > .utilityButtons {
    display: flex;
    flex-direction: row;

    width: 100%;

    justify-content: space-between;
}

.calculatorFrame > .controlButtons > .moduleTwo > .utilityButtons > button {
    width: 175px;
    height: 120px;

    font-size: 36px;

    text-align: center;
}